<!-- THIS NAVBAR HAS BEEN DISABLED, change d-none to absolute/fixed to re-enable -->
                   <!--\ V /-->
<div class="w-100 p-0 d-none" id="fixed-nav-container">
    <div class="w-100 d-flex justify-content-center d-sm-none d-md-none" id="nav-links-fixed">
      <button type="button" class="btn btn-link hover-highlight">Trang chủ</button>
      <div id="dropdown-container">
        <button id="dropdown-button" type="button" class="btn btn-link" onclick="toggleDropdown()">Dịch vụ <span
            id="dropIcon">▼</span></button>
      </div>
      <button type="button" class="btn btn-link">Tư vấn</button>
    </div>
  </div>