<div class="background-heavy-teal text text-white">
    <div class="text-center h-auto">
      <div class="top-0 z-3" id="whiteToHeavyTealGradient"></div>
    </div>
    <div class="row">
      <div class="col-4">
        Trang Chủ
        Thời gian làm việc
        Địa chỉ
        Liên hệ

        Dịch vụ
        Khám phụ khoa
        Kế hoạch hóa gia đình
        Xét nghiệm

        Tư vấn
        
      </div>
      <div class="col-4">
        Nguồn hình ảnh<br>
    <a href="https://www.flaticon.com/free-icons/caring" title="caring icons">Caring icons created by piksart -
      Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/certificate" title="certificate icons">Certificate icons created by
      Smashicons - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/21" title="21 icons">21 icons created by Tanah Basah -
      Flaticon</a><br>
      </div>
      <div class="col-4">
        Công cụ sử dụng
          GSAP scroll trigger
      </div>
    </div>
    
  </div>