<div class="position-fixed align-items-center justify-content-center w-100 h-100" id="loadingScreen">
  <img src="/images/bayer.png" alt="Loading..." class="" id="loadingImg">
  <div id="loadingAnimation" class="spinning"></div>
  <div class="loading-left h-100 w-50" id="left"></div>
  <div class="loading-right h-100 w-50" id="right"></div>
</div>