<div class="d-flex flex-column align-items-center">
    <div id="logo-container" class="w-100"></div>
    <div class="" id="logo-shadow">
      <img class="m-2" src="/images/bayer.png" alt="Logo" height="65" id="logoImg">
    </div>
    <a href="/" class="z-1"><img class="m-2" src="/images/bayer.png" alt="Logo" height="65"
        id="logoImg"></a>
  </div>
  <div class="h-100 d-flex flex-column align-items-center position-sticky top-0 bg-white pt-2 z-3">
    <div class="w-75 d-flex justify-content-center" id="nav-links">
      <button type="button" class="btn btn-link hover-highlight">Trang chủ</button>
      <div id="dropdown-container" class="">
        <button id="dropdown-button" type="button" class="btn btn-link" onclick="toggleDropdown()">Dịch vụ <span
            id="dropIcon">▼</span></button>
      </div>
      <button type="button" class="btn btn-link">Tư vấn</button>
    </div>
    <!-- SPERATOR -->
    <div class="w-75 d-flex justify-content-center" id="seperator">
      <div class="h-100" id="seperator-mask-left"></div>
      <div class="h-100" id="seperator-mask-right"></div>
    </div>
  </div>
  <div class="p-2 w-100 h-100" id="dropdown">
    <div class="d-flex justify-content-between">Dịch vụ<span onclick="closeDropdown()">✖</span></div>
    <a href="dichvu">Khám phụ khoa</a>
    <a href="dichvu.html">Kế hoạch hóa gia đình</a>
    <a href="dichvu.html">Xét nghiệm</a>
  </div>
<!-- DROPDOWN position fixed so it should be outside -->