<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="/public/css/color.css">
    <title>Dịch vụ</title>
</head>
<body class=" bg-dark-subtle">
    <!-- navbar -->
    <div class="d-flex flex-column align-items-center">
        <div>
        <img src="/public/images/bayer.png" alt="Logo" height="65">
        </div>

        <div>
            <button type="button" class="btn btn-link" onclick="window.location.href='index.html'" >Trang chủ</button>
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#dichVu">
                Dịch vụ
              </button>
              <button type="button" class="btn btn-link">Tư vấn</button>
        </div>
  
  <!-- Modal -->
  <div class="modal fade" id="dichVu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Dịch vụ</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
            <li><a href="dichvu.html">Khám phụ khoa</a></li>
            <li><a href="dichvu.html">Kế hoạch hóa gia đình</a></li>
            <li><a href="dichvu.html">Xét nghiệm</a></li>
            </ul>   
        </div>
        
      </div>
    </div>
  </div>
    </div>

    <!-- CONTENT -->
    <div class="container">
        <!-- HEADERS -->
        <div class="p-2 background-light-teal fw-bold">
            Khám phụ khoa
        </div>
        <!-- CONTENT -->
        <div class="d-flex flex-row justify-content-between p-2 bg-light ms-3">
        <div>
            Siêu âm
        </div>
        <div>
            180k
        </div>
        </div>
    </div>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>