<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="/public/css/color.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <!-- animations -->
     <link rel="stylesheet" href="/public/css/animation.css">
    <title>Trang chủ</title>
</head>
<body class="background-white">
    <!-- navbar -->
    <div class="d-flex flex-column align-items-center">
        <div>
        <img src="/public/images/bayer.png" alt="Logo" height="65">
        </div>

        <div>
            <button type="button" class="btn btn-link">Trang chủ</button>
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#dichVu">
                Dịch vụ
              </button>
              <button type="button" class="btn btn-link">Tư vấn</button>
        </div>
  
  <!-- Modal -->
  <div class="modal fade" id="dichVu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Dịch vụ</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
            <li><a href="dichvu.html">Khám phụ khoa</a></li>
            <li><a href="dichvu.html">Kế hoạch hóa gia đình</a></li>
            <li><a href="dichvu.html">Xét nghiệm</a></li>
            </ul>   
        </div>
        
      </div>
    </div>
  </div>
  

  
    </div>

    

    <!-- BODY -->
    <div>
      <!-- giới thiệu -->
     <div class="container">
     <div class="text-center m-2 ">
     <h1>Phòng khám</h1>
     <h1>Bác sĩ Trương Thị Thành</h1>
     <div>Sau 21 năm hoạt động, phòng khám của bác sĩ Trương Thị Thành đã đạt được nhiều thành tựu nổi bật, giúp điều trị vô sinh và cải thiện chất lượng đời sống tình dục cho hàng nghìn bệnh nhân.</div>
    </div>
    <img src="/public/images/banner.jpg" alt="banner phong kham" width="100%">
    </div>
    <!-- color gradient --> 
    <div id="whiteToHeavyTealGradient"></div>
    <!-- dịch vụ chính -->
    <div class="background-heavy-teal text text-white">
      <!-- title -->
      <div class="text-center pb-5">
        <h1 class="m-0">Các dịch vụ tại phòng khám</h1>
      </div>
      <!-- content -->
      <!-- Khám phụ khoa -->
      <div class="d-flex justify-content-between my-2">
        <img src="/public/images/placeholder.png" alt="placeholder" width="40%" class="ms-3">
        <div class="me-3">
          <h1>Khám phụ khoa</h1>
          <ul id="dichvuLists">
            <li>Siêu âm</li>
            <li>Khám thai</li>
            <li>Khám phụ khoa</li>
            <p class="text-center">Xem thêm</p>
          </ul>
        </div>
      </div>
      <!-- Kế hoạch hóa gia đình -->
      <div class="d-flex justify-content-between my-2">
        <div class="ms-3">
          <h1>Kế hoạch hóa gia đình</h1>
          <ul id="dichvuLists">
            <li>Siêu âm</li>
            <li>Khám thai</li>
            <li>Khám phụ khoa</li>
            <p class="text-center">Xem thêm</p>
          </ul>
        </div>
        <img src="/public/images/placeholder.png" alt="placeholder" width="40%" height="100%" class="me-3 my-auto">
      </div>
      <!-- Xét nghiệm -->
      <div class="d-flex justify-content-between mt-2">
        <img src="/public/images/placeholder.png" alt="placeholder" width="40%" class="ms-3">
        <div class="me-3">
          <h1>Xét nghiệm</h1>
          <ul id="dichvuLists">
            <li>Siêu âm</li>
            <li>Khám thai</li>
            <li>Khám phụ khoa</li>
            <p class="text-center">Xem thêm</p>
          </ul>
        </div>
      </div>
    </div>

    <!-- teal to whtie gradient -->
    <div id="heavyTealToWhiteGradient"></div>

    <!-- Giới thiệu đội ngũ --> 
    <div class="container">
    <div class="text-center pb-5">
      <h1 class="m-0">Về chúng tôi</h1>
    </div>
      <!-- Hình nhân viên -->
      <div class="d-flex animated-section" id="staff-wrapper" data-animation-class="bottom-fade-in">
        <div class="border border-dark w-100" id="staffImg">1</div>
        <div class="border border-dark w-100" id="staffImg">2</div>
        <div class="border border-dark w-100" id="staffImg">3</div>
        <div class="border border-dark w-100" id="staffImg">4</div>
        <div class="border border-dark w-100" id="staffImg">5</div>
      </div>
    <!-- content -->
      <div class="row m-1 animated-section" id="qualities" data-animation-class="bottom-fade-in">
        <div class="col-4 d-flex flex-column align-items-center">
          <img src="/public/images/21.png" alt="" width="40">
          <div class="text-center">
            Hơn 21 năm kinh nghiệm trong ngành phụ sản/ hiếm muộn
          </div>
        </div>
        <div class="col-4 d-flex flex-column align-items-center bottom-fade-in">
          <img src="/public/images/certificate.png" alt="" width="40">
          <div class="text-center">
            Các bác sĩ, y tá được cấp phép hoạt động bởi bộ y tế
          </div>
        </div>
        <div class="col-4 d-flex flex-column align-items-center">
          <img src="/public/images/caring.png" alt="" width="40">
          <div class="text-center">
            Sẵn sàng lắng nghe, thấu hiểu và tận tâm với bệnh nhân
          </div>
        </div>
      </div>
    </div>

      <!-- Cơ sở vật chất -->
      <div class="container">
        <h1>Trang trang thiết bị hiện đại, không gian thoải mái, tiện nghi</h1>
        <img src="/public/images/banner.jpg" alt="banner phong kham" width="100%">
      </div>

      <!-- footer -->
       
      <div>
        <h1>Footer</h1>
        Image sources<br>
        <a href="https://www.flaticon.com/free-icons/caring" title="caring icons">Caring icons created by piksart - Flaticon</a><br>
        <a href="https://www.flaticon.com/free-icons/certificate" title="certificate icons">Certificate icons created by Smashicons - Flaticon</a><br>
        <a href="https://www.flaticon.com/free-icons/21" title="21 icons">21 icons created by Tanah Basah - Flaticon</a><br>
      </div>
      <div></div>
  </div>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- javascripts -->
     <script src="/public/javascript/animation.js"></script>
</body>
</html>