<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- css -->
  <link rel="stylesheet" href="/css/color.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
  <!-- animations -->
  <link rel="stylesheet" href="/css/loadingscreen.css">
  <link rel="stylesheet" href="/css/animation.css">
  <title>Trang chủ</title>
</head>

<body>
  <!-- LOADING SCREEN -->
  <div class="position-fixed align-items-center justify-content-center w-100 h-100" id="loadingScreen">
    <img src="/images/bayer.png" alt="Loading..." class="" id="loadingImg">
    <div id="loadingAnimation" class="spinning"></div>
    <div class="loading-left h-100 w-50" id="left"></div>
    <div class="loading-right h-100 w-50" id="right"></div>
  </div>
  <!-- ALL OF CONTENT -->
  <div class="background-white all-content">
    <!-- This element has been removed -->
    <div class="w-100 p-0 d-none" id="fixed-nav-container">
      <div class="w-100 d-flex justify-content-center d-sm-none d-md-none" id="nav-links-fixed">
        <button type="button" class="btn btn-link hover-highlight"><a href="/">Trang chủ</a></button>
        <div id="dropdown-container">
          <button id="dropdown-button" type="button" class="btn btn-link" onclick="toggleDropdown()">Dịch vụ <span
              id="dropIcon">▼</span></button>
        </div>
        <button type="button" class="btn btn-link">Tư vấn</button>
      </div>
    </div>
    <!-- navbar -->
    <div class="d-flex flex-column align-items-center">
      <div id="logo-container" class="w-100"></div>
      <div class="" id="logo-shadow">
        <img class="m-2" src="/images/bayer.png" alt="Logo" height="65" id="logoImg">
      </div>
      <a href="/" class="z-1"><img class="m-2" src="/images/bayer.png" alt="Logo" height="65"
          id="logoImg"></a>
    </div>
    <!-- DROPDOWN position fixed so it should be outside -->
    <div class="h-100 d-flex flex-column align-items-center position-sticky top-0 bg-white pt-2 z-3">
      <div class="w-75 d-flex justify-content-center" id="nav-links">
        <button type="button" class="btn btn-link hover-highlight"><a href="/" class="text-decoration-none">Trang chủ</a></button>
        <div id="dropdown-container" class="">
          <button id="dropdown-button" type="button" class="btn btn-link" onclick="toggleDropdown()">Dịch vụ <span
              id="dropIcon">▼</span></button>
        </div>
        <button type="button" class="btn btn-link"><a href="/" class="text-decoration-none">Tư vấn</a></button>
      </div>
      <!-- SPERATOR -->
      <div class="w-75 d-flex justify-content-center" id="seperator">
        <div class="h-100" id="seperator-mask-left"></div>
        <div class="h-100" id="seperator-mask-right"></div>
      </div>
    </div>
    <div class="p-2 w-100 h-100" id="dropdown">
      <div class="d-flex justify-content-between">Dịch vụ<span onclick="closeDropdown()">✖</span></div>
      <a href="dichvu">Khám phụ khoa</a>
      <a href="dichvu">Kế hoạch hóa gia đình</a>
      <a href="dichvu">Xét nghiệm</a>
    </div>


    <!-- BODY -->
    <div>
      <!-- giới thiệu -->
      <div class="container parallax" id="intro">
        <div class="text-center m-2">
          <h1 class="fw-bold">Phòng khám</h1>
          <h1 class="fw-bold">Bác sĩ <br>Trương Thị Thành</h1>
          <div class="fst-italic">Sau 21 năm hoạt động, phòng khám của bác sĩ Trương Thị Thành đã đạt được nhiều thành
            tựu nổi bật, giúp điều trị vô sinh và cải thiện chất lượng đời sống tình dục cho hàng nghìn bệnh nhân.</div>
        </div>
        <!-- <img src="/images/banner.jpg" alt="banner phong kham" width="100%"> -->
      </div>
      <!-- PARALAX CONTAINER -->
      <!-- color gradient -->
      <!-- dịch vụ chính -->
      <div class="background-heavy-teal text text-white">
        <!-- title -->
        <div id="dichvuStart" class="text-center h-auto">
          <div class="top-0 z-3" id="whiteToHeavyTealGradient"></div>
          <h1 class="animation-slide-right m-0 fst-italic">Dịch vụ</h1>
          <div class="bottom-0 z-3 opacity-0" id="whiteToHeavyTealGradient"></div>
        </div>
        <!-- content -->

        <!-- pill tab -->
        <div class="d-flex justify-content-between mt-2 mx-2 p-3" id="dichvuItems">
          <div class="w-100">
            <h1 class="background-dark-teal w-100 p-3 z-3" id="dichvuItemsTitle">Khám phụ khoa</h1>
            <ul class="" id="dichvuLists">
              <li>Siêu âm</li>
              <li>Khám thai</li>
              <li>Khám phụ khoa</li>
            </ul>
            <p class="link text-center"><a class="text-decoration-none text-white" href="/dichvu">Xem thêm</a></p>
          </div>
          <!-- <div class="align-content-center fw-bolder fs-1">≫ . ⋙</div> -->
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2 p-3" id="dichvuItems">
          <div class="w-100">
            <h1 class="background-dark-teal w-100 p-3 z-3" id="dichvuItemsTitle">Khám phụ khoa</h1>
            <ul class="" id="dichvuLists">
              <li>Siêu âm</li>
              <li>Khám thai</li>
              <li>Khám phụ khoa</li>
            </ul>
            <p class="link text-center"><a class="text-decoration-none text-white" href="">Xem thêm</a></p>
          </div>
          <!-- <div class="align-content-center fw-bolder fs-1">≫ . ⋙</div> -->
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2 p-3" id="dichvuItems">
          <div class="w-100">
            <h1 class="background-dark-teal w-100 p-3 z-3" id="dichvuItemsTitle">Khám phụ khoa</h1>
            <ul class="" id="dichvuLists">
              <li>Siêu âm</li>
              <li>Khám thai</li>
              <li>Khám phụ khoa</li>
            </ul>
            <p class="link text-center"><a class="text-decoration-none text-white" href="">Xem thêm</a></p>
          </div>
          <!-- <div class="align-content-center fw-bolder fs-1">≫ . ⋙</div> -->
        </div>
      </div>

      <!-- teal to whtie gradient -->
      

      <!-- Giới thiệu đội ngũ -->
      <div id="heavyTealToWhiteGradient"></div>
      <div class="container">
        <div id="veChungToi" class="text-center h-auto">
          <h1 class="animation-slide-right m-0 fst-italic">Về chúng tôi</h1>
          <div id="heavyTealToWhiteGradient" class="opacity-0"></div>
        </div>
        <div class="animation-slide-right container text-center fw-bold">
          Bác sĩ Thành chuyên khoa 1 phụ sản cùng đội ngũ nhân viên có bằng cấp đầy đủ, được bộ y tế cấp phép hoạt động. <br>
        </div>
       
        <!-- Hình nhân viên -->
        <div class="d-flex animated-section w-100" id="staff-wrapper" data-animation-class="bottom-fade-in">
          <img src="/images/staff.png" class="w-100" alt="">
        </div>
        <!-- content -->
        <div class="row-animation row m-1 animated-section" id="qualities" data-animation-class="bottom-fade-in">
          <div class="animation-slide-up col-4 d-flex flex-column align-items-center">
            <img src="/images/21.png" alt="" width="40">
            <div class="text-center">
              Hơn 21 năm kinh nghiệm trong ngành phụ sản/ hiếm muộn
            </div>
          </div>
          <div class="animation-slide-up col-4 d-flex flex-column align-items-center">
            <img src="/images/certificate.png" alt="" width="40">
            <div class="text-center">
              Các bác sĩ, y tá được cấp phép hoạt động bởi bộ y tế
            </div>
          </div>
          <div class="animation-slide-up col-4 d-flex flex-column align-items-center">
            <img src="/images/caring.png" alt="" width="40">
            <div class="text-center">
              Sẵn sàng lắng nghe, thấu hiểu và tận tâm với bệnh nhân
            </div>
          </div>
        </div>

        <!-- Thời gian làm việc, địa chỉ, liên hệ -->
         <div class="container" id="TG">

          <div class="m-auto my-3 w-75 d-flex justify-content-center" id="seperator">
            <div class="h-100" id="seperator-mask-left"></div>
            <div class="h-100" id="seperator-mask-right"></div>
          </div>

          <button class="toggleDropdownAboutUs btn btn-link text-black text-decoration-none text-nowrap" id="dropdown-button"><h1 class="fw-bold fst-italic">Thời gian làm việc <span id="arrow">➤</span></h1></button>
          <div id="aboutUsDropdown" class="ps-5 fw-bold fst-italic">
            Thứ 2 - thứ 7 hàng tuần: Buổi chiều từ 16:00 - 20:00. <br>
            Chủ nhật không làm việc.
          </div>
         </div>
         <div class="container" id="DC">
          <button class="toggleDropdownAboutUs btn btn-link text-black text-decoration-none" id="dropdown-button"><h1 class="fw-bold fst-italic">Địa chỉ <span id="arrow">➤</span></h1></button>
          <div id="aboutUsDropdown" class="ps-5 fw-bold fst-italic">
            Địa chỉ: <a href="https://maps.app.goo.gl/RdA6Bd1MVPkrhsog7" target="_blank">204 Đường Đ. Hoàng Diệu 2, Phường Linh Trung, Thủ Đức, Hồ Chí Minh, Vietnam</a>
          </div>
         </div>
         <div class="container" id="TTLH">
          <button class="toggleDropdownAboutUs btn btn-link text-black text-decoration-none" id="dropdown-button"><h1 class="fw-bold fst-italic">Thông tin liên hệ<span id="arrow">➤</span></h1></button>
          <div id="aboutUsDropdown" class="ps-5 fw-bold fst-italic">
            
          </div>
         </div>
      </div>

      <!-- Cơ sở vật chất -->
      

      <!-- footer -->
      <div class="text-center h-auto">
        <div class="top-0 z-3" id="whiteToHeavyTealGradient"></div>
      </div>
      <%- include('partials/footer.ejs') %>
    </div>
  </div>
  <!-- GSAP -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <!-- GSAP scroll trigger -->
  <script src="../javascript/gsapScrollTrigger.js"></script>

  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <!-- javascripts -->
  <!-- <script src="../javascript/animation.js"></script> -->
  <script src="/javascript/loadingscreen.js"></script>
  <script src="/javascript/dropdownToggle.js"></script>
  <script src="/javascript/toggleDropdownAboutUs.js"></script>
  <script src="/javascript/paralax.js"></script>
  <script src="/javascript/scrollSaver.js"></script>
  
  

</body>

</html>