@keyframes bottom-fade-in {
    from{
        opacity: 50;
        transform: translateY(20px);
    }
	to {
        opacity: 1;
        transform: translateY(0);
    }
}

.out-of-view{
    opacity: 50%;
    transform: translateY(20px);
}
.bottom-fade-in {
    animation: bottom-fade-in 1s forwards;
}

/*👉.animated-section > *{
    opacity: .5;
    transform: translateY(20px);
}👈*/