#loadingScreen{
top: 0px;
position: fixed;
background: rgb(255, 255, 255);
display: flex;
}
.loading-left{
    background: rgb(2,21,28);
    background: linear-gradient(90deg, rgba(2,21,28,1) 0%, rgba(0,212,255,1) 100%);
}
.loading-right{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,21,28,1) 100%);
}
.all-content{
    display: none;
}
#loadingImg{
    border-radius: 50%;
    height: 150px;
    position: absolute;
    z-index: 1;
}

#loadingAnimation{
background: rgb(92,216,247);
background: linear-gradient(90deg, rgba(92,216,247,1) 25%, rgba(62,222,255,1) 50%, rgba(28,74,84,1) 90%);
    border-radius: 50%;
    height: 160px;
    width: 160px;
    position: absolute;
    z-index: 0;
}

@keyframes spinning {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.spinning {
    animation: spinning linear 1.5s infinite;
}

/* Sliding animation */
@keyframes slide-to-left {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes slide-to-right {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}
.slide-to-left{
    animation: slide-to-left 1.5s forwards;
}
.slide-to-right{
    animation: slide-to-right 1.5s forwards;
}

/*👉Background fade out animation👈*/
@keyframes bg-fade-out {
    from{
        background-color: rgb(0, 0, 0, 1);
    }
    to{
        background-color: rgb(0, 0, 0, 0);
        display: none;
    }
}
.bg-fade-out{
    animation: bg-fade-out 1.5s forwards;
}

/*👉Logo animation👈*/
@keyframes logo-fade-out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.logo-fade-out{
    animation: logo-fade-out 1s forwards;
}