#loadingScreen{
background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 0%, rgba(32,73,82,1) 100%);

}
#loadingImg{
    border-radius: 50%;
    height: 150px;
    position: absolute;
    z-index: 1;
}

#loadingAnimation{
    background: rgb(92,216,247);
background: linear-gradient(90deg, rgba(92,216,247,1) 25%, rgba(62,222,255,1) 50%, rgba(28,74,84,1) 75%);
    border-radius: 50%;
    height: 160px;
    width: 160px;
    position: absolute;
    z-index: 0;
}

@keyframes spinning {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.spinning {
    animation: spinning 1.5s infinite;
}